button {
    margin: auto; 
    display: block; 
    height: 40px;
    width: 70px;
    border-radius: 5px;
}

button:hover {
    background-color: darkgrey;
}
table {
    border-radius: 3px;
}
td:hover{
    font-weight: bold;
}
body{
    background-color: lightblue;
}